@model IEnumerable<ACMWeb.ViewModels.GradeVM>

@{
    ViewBag.Title = "Uploaded grades";
}

<h2>Uploaded Enrollments</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>


    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CRN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>

    </tr>
    }

</table>
