@model IEnumerable<ACMWeb.ViewModels.GradeItemVM>

@{
    ViewBag.Title = "Uploaded grade items";
}

<h2>Uploaded grade items</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssessType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criterion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssessType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criterion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>

    </tr>
    }

</table>
